body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
}

.container {
  max-width: 1200px;
  margin-left: 10%;
  padding: 20px;
}

.navbar {
  background-color: blue;
  padding: 15px;
  list-style-type: none;
  margin: 0;
  display: flex;
  justify-content: space-around;
}

.navbar li {
  display: inline;
}

.navbar a {
  color: white;
  text-decoration: none;
  padding: 8px 16px;
}

.navbar a:hover {
  background-color: #0056b3;
}

h1,
h2 {
  color: #333;
}

form {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
  display: block;
  margin-bottom: 8px;
}

input,
textarea,
select {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

footer {
  background-color: #333;
  color: white;
  text-align: center;
  position: fixed;
  width: 100%;
  bottom: 0;
  height: 50px;
}

#flightSearch{
	margin-top: 20px;
}

#passengerForm{
	margin-top: 20px;
}

#header {
    text-align: center;
}

aside {
    background-color: lightgray;
    width: 100px;
    padding: 15px;
    float: left;
    clear: left;
    position: relative;
}

aside ul {
    list-style-type: none;
    padding: 0;
}

aside ul li {
    margin: 10px 0;
}

aside ul li a {
    text-decoration: none;
    color: #333;
    display: block;
    padding: 10px;
}

aside ul li a:hover {
    background-color: #ddd;
}

.main-body {
    display: flex;
    height: 100vh;
}