body {
    font-family: Arial, sans-serif;
}

.container {
    margin-left: 10%;
    padding: 20px;
    width: 60%;
}

.navbar {
    background-color: blue;
    padding: 15px;
    list-style-type: none;
    margin: 0;
    display: flex;
    justify-content: space-around;
}

.navbar li {
    display: inline;
}

.navbar a {
    color: white;
    text-decoration: none;
    padding: 8px 16px;
}

.navbar a:hover {
    background-color: #0056b3;
}

form {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin-bottom: 8px;
}

input, textarea, select {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid;
    border-radius: 5px;
    box-sizing: border-box;
}

button {
    background-color: blue;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: lightblue;
}

footer {
    background-color: gray;
    color: white;
    text-align: center;
    position: fixed;
    width: 100%;
    bottom: 0;
    height: 85px;
}

#flightSearch {
    margin-top: 20px;
}

#passengerForm {
    margin-top: 20px;
}

#header {
    text-align: center;
}

aside {
    background-color: lightgray;
    width: 150px;
    padding: 15px;
    float: left;
    clear: left;
    position: relative;
    font-size: 16px;
}

aside ul {
    list-style-type: none;
    padding: 0;
}

aside ul li {
    margin: 10px 0;
}

aside ul li a {
    text-decoration: none;
    color: black;
    display: block;
    padding: 10px;
}

aside ul li a:hover {
    background-color: lightblue;
}

.main-body {
    display: flex;
    height: 100vh;
    margin-bottom: 200px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-family: Arial, sans-serif;
}

th {
    background-color: lightblue;
    padding: 12px;
    text-align: left;
    border: 1px solid;
}

td {
    padding: 12px;
    border: 1px solid;
}